@font-face {
    font-family: SN pro;
    src: url(./font/SN_Pro/SNPro-VariableFont_wght.ttf);
}

body {
    font-family: SN pro;
    background-color: rgb(244, 236, 225);
}

.create_account_topic{
    color: rgb(3, 41, 76);
}
.create_account_backgroundimg{
    text-align: center;
    width: 1000px;
}

.create_account_logo-1{
    width: 400px;
}
.create_account_logo-2{
    width: 500px;
}

