@font-face {
    font-family: SN pro;
    src: url(./font/SN_Pro/SNPro-VariableFont_wght.ttf);
}

:root{
    --background: #F4ECE1;
    --blue: #03294C;
    --orange: #FB7E0A;

}

body {
    font-family: SN pro;
    background-color: rgb(244, 236, 225);
}
h1,
h2,
h3,
h4,
h5,
h6 {
    text-align: center;
}

header{
    position: relative;
}




.create_account_topic{
    color: var(--blue);
    font-size: 440%;
    top: 20%;
    left: 25%;
    position: absolute;
}
.sceondary_topic{
    color: var(--blue);
    font-size: 200%;
    top: 45%;
    left: 30%;
    position: absolute;
}
.create_account_background-img{
    background-image: url("/static/image/account-img/account-background.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-position-y:100%;
    background-size: 55%;
    height: 800px;
    /* position: absolute;
    z-index: 1; */
    /* height: 100%;
    position: absolute;
    display: flex; */
}

.create_account_logo-1{
    background-image: url("/static/image/logo/EightHub-logo.svg"); 
    background-repeat: no-repeat;
    background-size: 35%;
    /* height: 100px;
    background-position-y:-10%; */
}

.create_account_logo-2{
    background-image: url("/static/image/logo/Cycle-1.svg");
    background-repeat: no-repeat;

}



/* .create_account_logo-1{
    background-image: url("/static/image/logo/EightHub-logo.svg"); 
    background-repeat: no-repeat;
    background-size: 35%;
    height: 575px;
    position: absolute;
} 

.create_account_logo-2{
    background-image: url("/static/image/logo/Cycle-1.svg");
    background-repeat: no-repeat;

} */
___________________________________________

.create_account_input-1 {
    text-align: center;

}

.create_account_input-1 input[type="text"] {
    padding: 15px 25px;
    font-size: 1.2rem;
    width: 350px;
    border: 2px solid var(--blue);
    border-radius: 8px;
    outline: none;
    box-shadow: 0 2px 4px

}

.create_account_input-1 input[type="submit"] {
    margin-top: 20vh; 
    margin-right: 5%;
    padding: 12px 40px;
    font-size: 1rem;
    background-color: var(--orange);
    color: white;
    border: 2px solid var(--blue);
    border-radius: 30px;
    cursor: pointer;
    transition: background-color 0.3s
      ease;
}

.create_account_input-1 input[type="submit"]:hover {
    background-color: var(--orange);
}

