@font-face {
    font-family: SN pro;
    src: url(./font/SN_Pro/SNPro-VariableFont_wght.ttf);
}

:root{
    --background: #F4ECE1;
    --blue: #03294C;
    --orange: #FB7E0A;

}

body {
    font-family: SN pro;
    background-color: rgb(244, 236, 225);
}


.create_account_topic{
    color: var(--background);
}
.create_account_backgroundimg{
    text-align: center;
    width: 10%;
}
.create_account_logo-1{
    width: 500px;
}

.create_account_logo-2{
    width: 400px;
}

