@font-face {
    font-family: SN pro;
    src: url(./font/SN_Pro/SNPro-VariableFont_wght.ttf);
}

:root{
    --background: #F4ECE1;
    --blue: #03294C;
    --orange: #FB7E0A;
    --end_orange_1: #fba30a;
    --end_orange_2: #fb7e0a;
    --end_orange_3:#ff6a00;
    --end_red_1:#ff4800;
    --end_blue_1:#4FABFF;
    --end_blue_2:#0D7BE0;
    --end_blue_1:#034F94;





}

body {
    font-family: SN pro;
    background-color: rgb(244, 236, 225);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-align: center;
}

header{
    position: relative;
}


ul{
    font-size: 150%;
    list-style-type: none;
    overflow: hidden;
    margin: 0;
    padding: 1;
    background-color: var(--blue);
}

ul li{
    float: right;
}

ul li a{
    text-decoration: none;
    display: block;
    color: var(--background);
    text-align: center;
    padding: 19px 21px;
}
ul li.tag_left{
    float: left;
}

ul li a:hover{
    color: var(--background);
    background-color: var(--orange);
}

/* @media screen and (max-width: 600px) {
  ul.topnav li.right, 
  ul.topnav li {float: none;}
} 
在不同屏幕下的图形变化，可用在testing
https://www.w3schools.com/css/tryit.asp?filename=trycss_navbar_horizontal_responsive 
*/






.create_account_topic{
    color: var(--blue);
    font-size: 440%;
    top: 70%;
    left: 25%;

}
.sceondary_topic{
    color: var(--blue);
    font-size: 200%;
    top: 45%;
    left: 30%;
}

.list_resources_topic{
    font-size: 180%;
}


___________________________________________

.create_account_input-1 {
    padding: 10px 30px;
    font-size: 1.2rem;
    width: 350px;
    border: 2px solid var(--blue);
    border-radius: 10px;
    outline: none;
    box-shadow: 0 2px 4px
}

.submit-1{
    padding: 12px 40px;
    font-size: 1rem;
    background-color: var(--orange);
    color: var(--background);
    border: 2px solid var(--blue);
    border-radius: 30px;
}

.submit-1:hover {
    background-color: var(--orange);
}


.input_line{
    padding: 10px 30px;
    font-size: 1.2rem;
    width: 350px;
    border: 2px solid var(--blue);
    border-radius: 10px;
    outline: none;
    box-shadow: 0 2px 4px
}
.list_display{
    text-align: center;
    justify-content: center;
}
.button{
    font-size: large;
    padding: 15px 100px;
    border-radius: 10px;
}
.button_square{
    margin-right: 30px;
    margin-top: 20px;
    font-size: 30px;
    padding: 70px 20px;
    border-radius: 10px;
}
.button_list{
    font-size: 110%;
    padding: 15px px;
    border-radius: 5px;
}


.error_text{
    font-size: 20px;
    text-align: center;
    color: red;
}

.pdf_display{
    width: 800px;
    height: 1000px;
}