<!--                   _oo0oo_
                      o8888888o
                      88" . "88
                      (| -_- |)
                      0\  =  /0
                    ___/`---'\___
                  .' \\|     |# '.
                 / \\|||  :  |||# \
                / _||||| -:- |||||- \
               |   | \\\  -  #/ |   |
               | \_|  ''\---/''  |_/ |
               \  .-\__  '-'  ___/-. /
             ___'. .'  /--.--\  `. .'___
          ."" '<  `.___\_<|>_/___.' >' "".
         | | :  `- \`.;`\ _ /`;.`/ - ` : | |
         \  \ `_.   \_ __\ /__ _/   .-` /  /
     =====`-.____`.___ \_____/___.-`___.-'=====
                       `=---='
     ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

         NO BUG FOREVER      GET EXCELLENCE
                                                  -->


<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
      Eighthub | Introduction
    </title>
    <link rel="stylesheet" href="/static/main.css">
  </head>
  <body>
    <header>
      <h1 class="create_account_topic">Create account<h1>
      <div class="create_account_background-img"></div>
      <div class="create_account_logo-1"></div>
      <div class="create_account_logo-2"></div>
      </header>
    <main>
      <form method="POST" action="/account-create" class="create_account_input-1">
        <input type="text" name="password-name" placeholder="wddw" value="">
        <input type="submit">
      </form>
    </main>
  </body>

</html>

