<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
      Eighthub | Account setting
    </title>
    <link rel="stylesheet" href="/static/style.css">
  </head>
  <body>
    <header>
      <Ul>
        <li><a href="{{ url_for('subjectpick')}}">Subject choose</a></li>
        <li><a href="{{ url_for('account') }}">Account setting</a></li>
        <li><a href="{{ url_for('all_resources')}}">View all resources</a></li>
        <li class="tag_left"><a href="{{ url_for('homepage')}}">Home Page</a></li>
      </Ul>
    </header>
    <main>
      <form action="{{ url_for('account') }}" method="POST">
        <div class="list_display">
          <h1>Account page</h1>
          <br>
          <h2>
            Login your account
          </h2>
          <input class="input_line" type="email" name="login_email" placeholder="Please input your email">
          <input class="input_line" type="password" name="login_password" placeholder="Please input your password">
          <button class="submit-1" type="submit" name="action" value="login">
            Login
          </button>
          <br>
          <br>
          <br>
          <h2>
            Change your account password
          </h2>
          <input class="input_line" type="password" name="old_password" placeholder="Please input your original password">
          <input class="input_line" type="password" name="new_password" placeholder="Please input your new password">
          <button class="submit-1" type="submit" name="action" value="change_password">
            Change password
          </button>
          <br>
          <br>
          <br>
          <h2>
            Delete your account
          </h2>
          <input class="input_line" type="email" name="ensure_email" placeholder="Please input your email">
          <input class="input_line" type="password" name="delete_password" placeholder="Please input your password">
          <button class="submit-1" type="submit" name="action" value="delete_account">
            Delete Account
          </button>
          <p class="list_resources_secondary_topic">
            If you don't have account, click here to <a href="{{url_for('account_create')}}">create account</a>
          </p>
        </div>
      </form>
      {% if report_message %}
      <p class="error_text">
        {{ report_message }}
      </p>
      {% endif %}
    </main>
  </body>
</html>