<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
      Eighthub | resources list
    </title>
    <link rel="stylesheet" href="/static/style.css">
  </head>
  <body>
    <header>
      <Ul>
        <li><a href="{{ url_for('subjectpick')}}">Subject choose</a></li>
        <li><a href="{{ url_for('account') }}">Account setting</a></li>
        <li><a href="{{ url_for('all_resources')}}">View all resources</a></li>
        <li class="tag_left"><a href="{{ url_for('homepage')}}">Home Page</a></li>
      </Ul>
    </header>
    <main>
      <h1>Resources list</h1>
      {% for resource in resources %}
      <div class="list_display">
        <button class="button">
          {{ resource[1] }}
          ---
          Author: 
          {{ resource[2] }}
        </button>

      </div>
      {% endfor %}
    </main>
  </body>

</html>