<!--                   _oo0oo_
                      o8888888o
                      88" . "88
                      (| -_- |)
                      0\  =  /0
                    ___/`---'\___
                  .' \\|     |# '.
                 / \\|||  :  |||# \
                / _||||| -:- |||||- \
               |   | \\\  -  #/ |   |
               | \_|  ''\---/''  |_/ |
               \  .-\__  '-'  ___/-. /
             ___'. .'  /--.--\  `. .'___
          ."" '<  `.___\_<|>_/___.' >' "".
         | | :  `- \`.;`\ _ /`;.`/ - ` : | |
         \  \ `_.   \_ __\ /__ _/   .-` /  /
     =====`-.____`.___ \_____/___.-`___.-'=====
                       `=---='
     ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

         NO BUG FOREVER      GET EXCELLENCE
                                                  -->


<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
      Eighthub | view all resources
    </title>
    <link rel="stylesheet" href="/static/style.css">
  </head>
  <body>
    <header>
      <Ul>
        <li><a href="{{ url_for('subjectpick')}}">Subject choose</a></li>
        <li><a href="{{ url_for('account') }}">Account setting</a></li>
        <li><a href="{{ url_for('all_resources')}}">View all resources</a></li>
        <li class="tag_left"><a href="{{ url_for('homepage')}}">Home Page</a></li>
      </Ul>
    </header>
    <main>
      <h1>Resources</h1>
      <div class="list_display">
        <h2 class="">{{ resource[1] }}</h2>
        <p>Author: {{ resource[4] }}</p>
        <p>Released year: {{ resource[6]}}</p>
        <hr>
        <br>
        <br>
        {% if resource[3] == "jpg" or resource[3] == "png" %}
        <img class="photo_display" src="{{ url_for('static', filename=resource[2].replace('static/', '')) }}" alt="{{ resource[1] }}">
        {% elif resource[3] == "pdf" %}
        <iframe class="pdf_display" src="{{ url_for('static', filename=resource[2].replace('static/', '')) }}"></iframe>
        {% endif %}
      </div>
      <br>
      <br>
      <br>
      <br>


    </main>
  </body>

</html>