<!--                   _oo0oo_
                      o8888888o
                      88" . "88
                      (| -_- |)
                      0\  =  /0
                    ___/`---'\___
                  .' \\|     |# '.
                 / \\|||  :  |||# \
                / _||||| -:- |||||- \
               |   | \\\  -  #/ |   |
               | \_|  ''\---/''  |_/ |
               \  .-\__  '-'  ___/-. /
             ___'. .'  /--.--\  `. .'___
          ."" '<  `.___\_<|>_/___.' >' "".
         | | :  `- \`.;`\ _ /`;.`/ - ` : | |
         \  \ `_.   \_ __\ /__ _/   .-` /  /
     =====`-.____`.___ \_____/___.-`___.-'=====
                       `=---='
     ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

         NO BUG FOREVER      GET EXCELLENCE
                                                  -->



<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
      Eighthub | Subject pick list
    </title>
    <link rel="stylesheet" href="/static/main.css">
  </head>
  <body>
    <header>
      <Ul>
        <li><a href="{{ url_for('subjectpick')}}">Subject choose</a></li>
        <li><a href="{{ url_for('post')}}">Post page</a></li>
        <li><a href="{{ url_for('resources')}}">View all resources</a></li>
        <li class="tag_left"><a href="{{ url_for('homepage')}}">Home Page</a></li>
      </Ul>
    </header>
    <main>
      <form method="POST" action="{{url_for('subjectpick')}}">
        <button type="submit" name="subject" value="1">
          L1 Mathematics 「L1MATH」
        </button>
        <button type="submit" name="subject" value="2">
          L2 Mathematics 「L3MATH」
        </button>
        <button type="submit" name="subject" value="3">
          L3 Mathematics 「L2MATH」
        </button>
        <br>
        <button type="submit" name="l1dtsdh">
          L1 Digital Tech. - Software Development 「L1DTSD」
        </button>
        <button type="submit" name="l2dtsdh">
          L2 Digital Tech. - Software Development 
        </button>
        <button type="submit" name="l3dtsdh">
          L3 Digital Tech. - Software Development 「L3DTSD」
        </button>
        <br>
        <button type="submit" name="l1phys">
          L1 Physics 「L1PHYS」
        </button>
        <button type="submit" name="l2phys">
          L2 Physics 「L2PHYS」
        </button>
        <button type="submit" name="l3phys">
          L3 Physics 「L3PHYS」
        </button>
        <br>
        <button type="submit" name="l1chem">
          L1 Chemsitry 「L1CHEM」
        </button>
        <button type="submit" name="l2chem">
          L2 Chemsitry 「L2CHEM」
        </button>
        <button type="submit" name="l3chem">
          L3 Chemsitry 「L3CHEM」
        </button>
      </form>
    </main>
  </body>
</html>

